<div class="foot my-1">

    <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #cf1010;">
        <!-- Grid container -->
        <div class="container pt-3 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Registrate</span>
                    <button type="button" class="btn btn-outline-light btn-rounded" data-bs-toggle="modal" data-bs-target="#myModal1">ingresa!</button>
                </p>
                <!-- The Modal -->
                <div class="modal fade " id="myModal1">
                    <div class="modal-dialog">
                        <div class="modal-content">    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form class="row g-3">
                                    <h2 class="text-sm-center text-danger ">FORMULARIO DE INSCRIPCION</h2>
                                    <div class="col-md-4">
                                        <label for="validationServer01" class="form-label text-danger">NOMBRE</label>
                                        <input type="text" class="form-control " id="validationServer01" value="" required>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationServer02" class="form-label text-danger">APELLIDO</label>
                                        <input type="text" class="form-control " id="validationServer02" value="" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationServerUsername" class="form-label text-danger">E-MAIL</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text text-danger" id="inputGroupPrepend3">@</span>
                                            <input type="text" class="form-control" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationServer03" class="form-label text-danger">CIUDAD</label>
                                        <input type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationServer04" class="form-label text-danger">PREFERENCIA</label>
                                        <select class="form-select" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                                            <option selected disabled value="">Seleccione  Preferencia...</option>
                                            <option>RECIBIR NOTICIAS</option>
                                            <option>AVISOS DE JUEGOS NUEVOS</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="validationServer05" class="form-label text-danger">CODIGO POSTAL</label>
                                        <input type="text" class="form-control " id="validationServer05" aria-describedby="validationServer05Feedback" required>
                                        
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                                            <label class="form-check-label" for="invalidCheck3">
                                            Acepto Todos los Terminos y Condiciones.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Enviar Solcitud</button>
                                    </div>
                                </form>
                            </div>
                    
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Cruz, Leandro Victorino - Trabajo Practico - Backend - Frontend
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </section>
    
</div>